@charset "UTF-8";
.inner {
	width:1256px;
	margin:0 auto;
	position:relative;
}
.home_section {
    padding:80px 0;
    background-color: #f4f4f4;
}
.header_wrap4 {
    display: none;
}

@media screen and ( max-width:1480px ) {
    #header .header_wrap1 li a {
        font-size:1.6rem !important;
    }
}
@media screen and ( max-width:1360px ) {
    #header .header_wrap1 li a {
        font-size:1.4rem !important;
    }
    #header .header_div1 {
        margin: 0 !important;
    }
    #header .header_logo {
        padding-left:1% !important;
    }
}
@media screen and ( min-width:641px ) and ( max-width:1200px ) {
    .header_div_inner {
        display: none !important;
    }
}

#header li div.dl_outer {
    display: none;
}

/* ------------------------------------------------------------------------------- webfont */
.en-nn {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.en-ni {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: italic;
}
.en-bn {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: normal;
}
.en-bi {
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 700;
    font-style: italic;
}


/* ------------------------------------------------------------------------------- btn */
.arrow {
    display:block;
    position: relative;
}
.arrow:after {
    content:"";
    display:block;
    width:10px;
    height:10px;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    position: absolute;
	top: 50%;
	right: 8%;
	-webkit-transform: translate(0%, -50%) rotate(45deg);
	-moz-transform: translate(0%, -50%) rotate(45deg);
	-ms-transform: translate(0%, -50%) rotate(45deg);
	-o-transform: translate(0%, -50%) rotate(45deg);
	transform: translate(0%, -50%) rotate(45deg);
}
.arrow2 {
    display:inline-block;
    padding:0 2em 0 0;
}
.arrow2:after {
    width:6px;
    height:6px;
    border-top:1px solid #000;
    border-right:1px solid #000;   
}
.arrow3:after {
    width:10px;
    height:10px;
    border-top:1px solid #00BD76;
    border-right:1px solid #00BD76;  
    position: relative;
    display: inline-block;
    left:1em;
    top:0.2em;
}

.btn1 {
    width:256px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    background-color: #00BD76;
    padding:0.5em 0;
    margin:0 auto;
    font-size:2.2rem;
    transition: all 0.1s linear;
}
.btn1:hover {
    text-decoration: none;
    background-color: #65DBAF;
}

/* ------------------------------------------------------------------------------- header */
#header {
    position: absolute;
    width:100%;
    z-index: 1;
}
#header .inner {
    width:100%;
    padding:4px 4px 0 4px;
}
#header .header_logo {
    float:left;
    padding:9px 0 0 5%;
}
#header .header_logo img {
    width:86px;
    display: block;
}
#header .header_wrap {
    float:left;
}
#header .header_wrap1 {
    background-color: #fff;
    width:calc( 100% - 192px );
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height:92px;
    box-shadow: 0px 2px 0 0 rgba(204,204,204,1);
}
#header .header_wrap1 li a {
    color:#000;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 88px;
    display: block;
}
#header .header_wrap1 li:hover a {
    text-decoration: none;
    border-bottom: 4px solid #00BD76;
}
#header .header_wrap1 li dd a {
    border-bottom-width: 0px !important;
}
#header .header_wrap1 li dd a:hover {
    text-decoration: underline;
}
#header .header_wrap2,
#header .header_wrap3 {
    position: absolute;
}
#header .header_wrap2 {
    right:100px;
}
#header .header_wrap3 {
    right:4px;
}
#header .header_wrap2 a,
#header .header_wrap3 a {
    display: block;
    width:92px;
    height:92px;
    text-align: center;
    font-size:1.4rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    position: relative;
    padding-top:22px;
    box-shadow: 0px 2px 0 0 rgba(204,204,204,1);
    transition: all 0.1s linear;
}
#header .header_wrap2 a {
    color: #000;
    background-color: #fff;
}
#header .header_wrap2 a:hover {
    text-decoration: none;
    background-color: #00BD76;
    color: #fff;
}
#header .header_wrap3 a {
    color: #fff;
    background-color: #00BD76;
}
#header .header_wrap3 a:hover {
    text-decoration: none;
    background-color: #65DBAF;
}
#header .header_wrap2 a:before,
#header .header_wrap3 a:before {
    content: "";
    width:30px;
    height:30px;
    display: block;
    margin:0 auto 0.6em;
}
#header .header_wrap2 a:before {
    background-image: url(../img/icon02.png);
    background-size: cover;
}
#header .header_wrap2 a:hover:before {
    background-image: url(../img/icon02on.png);
    background-size: cover;
}
#header .header_wrap3 a:before {
    background-image: url(../img/icon03.png);
    background-size: cover;
}
#header ul {}
#header ul li {
    list-style-type: none;
}
#header ul li a {}
#header .header_div1 {
    float:left;
    margin: 0 0 0 3em;
    position: relative;
}
#header .header_div1 li {
    float: left;
    margin-left: 3em;
}
#header .header_div1 li a {}
#header .header_div2 {
    float:left;
}
#header .header_div2 li {
    position: relative;
    margin-left: 6em;
}
#header .header_div2 li:before {
    content:"";
    width:2px;
    height:60px;
    background-color: #E5E5E5;
    display:block;
    position: absolute;
    left:-3em;
    top:16px;
}
#header .header_div2 li a {
    position: relative;
    display: block;
}
#header .header_div2 li a:after {
    position: absolute;
    content: "";
    display: block;
    width:24px;
    height:20px;
    background: url(../img/icon01.jpg) no-repeat 0 0;
    background-size: cover;
	top: 50%;
	right: -40px;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}

#header li div.dl_outer {
    position: absolute;
    left:3em;
    top:62px;
    padding:32px 0 0;
    width:880px;
}
#header li div.dl_inner {
    padding: 2em 3em;
    background-color: #fff;
    width:100%;
    box-shadow: 0px 2px 0 0 rgba(204,204,204,1);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}
#header li dl {
    float:left;
    padding:0 2em 0 0;
    min-width:260px;
}
#header li dl:first-of-type  {
    border-left-width:0px;
}
#header li dl  {
    border-left:2px solid #ccc;
    border-right:2px solid #ccc;
    padding-left:2em;
    margin:0 -1px;
}
#header li dl:last-of-type  {
    border-right-width:0px;
}
#header li dl dt {
    color: #000;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8;
    display: block;
    margin-bottom:0.8em;
}
#header li dl dd {
    margin-bottom:1em;
}
#header .header_wrap1 li dl a {
    color: #000;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.8;
    display: block;
    margin-left:1.5em;
}
#header .header_wrap1 li dl a:hover {
    border-bottom: 0px;
}


/* ------------------------------------------------------------------------------- main visual */
.main_visual {
    padding:98px 0 0;
    background-color: #f4f4f4;
    background: url(../img/mvbg01.gif) no-repeat center center;
    background-size: cover;
}
.main_visual .inner {
    height:calc( 100vh - 98px );
    min-height: 720px;
}
.main_visual .inner .slider-outer {
    position: relative;
	top: 45%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.main_visual .inner img {
    display: block;
    margin:0 auto;
}
.main_visual .inner .slider .btn1 {
    margin-top:3em;
} 



/* ------------------------------------------------------------------------------- home_news */
.home_news {
    padding:80px 0;
}
.home_news .inner {}
.home_news .title {
    background-color: #ff1e26;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color:#fff;
    font-size:1.8rem;
    width:256px;
    line-height: 40px;
    padding:0;
    text-align: center;
    position: relative;
    float:left;
}
.home_news .title:after {
    content: "";
    width:8px;
    height:18px;
    display: block;
    position: absolute;
    right:-8px;
	top: 50%;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
    background:url(../img/arrow01.gif) no-repeat 0 0;
    background-size: cover;
}
.home_news dl {
    float:left;
    padding:0 0 0 3em;
}
.home_news dt,
.home_news dd {
    display:block;
    line-height: 40px;
    float: left;
}
.home_news dt {
    font-size:2rem;
}
.home_news dd {
    padding: 0 0 0 2em;
}
.home_news dd a {
    float:right;
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.home_news a.arrow {
    position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}


/* ------------------------------------------------------------------------------- home_catchup */
.home_catchup {}
.home_catchup .title {
    margin-bottom:40px;
}
.home_catchup .title img {
    display: block;
}
.home_catchup ul {}
.home_catchup li {
    list-style-type: none;
    width:400px;
    float:left;
}
.home_catchup li.home_catchup1 {
    margin-right:28px;
}
.home_catchup li.home_catchup2 {
    margin-right:28px;
}
.home_catchup li.home_catchup3 {}
.home_catchup li a {
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.home_catchup li.home_catchup1 a {
    background-image: url(../img/menu01on_pc.jpg);
    background-size: cover;
}
.home_catchup li.home_catchup2 a {
    background-image: url(../img/menu02on_pc.jpg);
    background-size: cover;
}
.home_catchup li.home_catchup3 a {
    background-image: url(../img/menu03on_pc.jpg);
    background-size: cover;
}
.home_catchup li a:hover img {
    opacity: 0;
}
.home_catchup li img {
    display: block;
    transition: all 0.1s linear;
}


/* ------------------------------------------------------------------------------- home_link */
.home_link {
    padding:0 0 40px;
}
.home_link .inner {
    width:100%;
    text-align: center;
    min-width: 1256px;
}
.home_link ul {
    display: inline-block;
}
.home_link li {
    float:left;
    list-style-type: none;
}
.home_link li.home_link1 {}
.home_link li.home_link2,
.home_link li.home_link3,
.home_link li.home_link4 {
    border-left:1px solid #000;
}
.home_link li a {
    position: relative;
    font-size:2.6rem;
    padding:0 0.8em 0 3.2em;
}
.home_link li.home_link1 a {}
.home_link li.home_link2 a {}
.home_link li.home_link3 a {}
.home_link li.home_link4 a {}
.home_link li a:before {
    content:"";
    display:block;
    width:54px;
    height:44px;
    position: absolute;
	top: 50%;
	left: 0.8em;
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.home_link li.home_link1 a:before {
    background-image: url(../img/icon04.png);
    background-size: cover;
}
.home_link li.home_link2 a:before {
    background-image: url(../img/icon05.png);
    background-size: cover;
}
.home_link li.home_link3 a:before {
    background-image: url(../img/icon06.png);
    background-size: cover;
}
.home_link li.home_link4 a:before {
    background-image: url(../img/icon07.png);
    background-size: cover;
}


/* ------------------------------------------------------------------------------- home_headline */
.home_headline {}
.home_headline .title {
    margin-bottom:40px;
}
.home_headline .title img {
    display: block;
}
.home_headline ul {}
.home_headline li {
    background-color: #fff;
    width:308px;
    float:left;
    margin:0 8px 8px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    list-style-type: none;
}
.home_headline li:nth-of-type(4n) {
    margin-right:0;
}
.home_headline li:nth-of-type(4n+1) {
    clear: left;
}
.home_headline li a {
    text-decoration: none;
    position: relative;
    display: block;
}
.home_headline li.new a:after {
    content:"NEW";
    background-color: #FB2330;
    display: block;
    width:38px;
    height:38px;
    line-height: 38px;
    color:#fff;
    font-family: mr-eaves-modern, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    top:5px;
    left:5px;
}
.home_headline .imgwrap {
    width:308px;
    height:214px;
    overflow: hidden;
}
.home_headline .imgwrap img {
	display: block;
	transition-duration: 0.3s;
}
.home_headline li:hover .imgwrap img {
	transform: scale(1.1);
	transition-duration: 0.3s;
    filter: blur(3px);
}
.home_headline .textwrap {
    padding:0.8em 1.5em 1em;
}
.home_headline span {
    display: block;
}
.home_headline li,
.home_headline li .date,
.home_headline li .category,
.home_headline li p {
    transition: all 0.1s linear;
}
.home_headline .date {
    font-size: 1.8rem;
    line-height: 1.1;
}
.home_headline .category {
    font-size:1.4rem;
    color:#1dbd78;
    font-weight: bold;
}
.home_headline p {
    font-size: 1.6rem;
    line-height: 1.3;
    padding-top:0.3em;
    height:1.3em;
    overflow: hidden;
}

/* ---------------------------- hover */
.home_headline li:hover {
    background-color: #1dbd78;
}
.home_headline li:hover .date,
.home_headline li:hover .category,
.home_headline li:hover p {
    color:#fff
}




/* ------------------------------------------------------------------------------- footer */
#footer {
    text-align: center;
    padding:24px 0;
}
#footer .footer_logo {
    
}
#footer .footer_logo img {
    width:112px;
}
#footer dl {
    padding:0.5em 0 0;
}
#footer dt,
#footer dd {
    line-height: 1.5;
    font-size:1.4rem;
}
#footer .copyright {
    padding:1.5em 0 0;
}
#footer .copyright .en-nn {
    font-size:1.6rem;
    letter-spacing: 1px;
}



div#pages {
    margin-right: 0 !important;
    padding: 0 !important;
}


.slider .slick-prev,
.slider .slick-next {
    width: 32px;
    height: 32px;
}
.slider .slick-prev {
    left: -48px;
    z-index: 1;
}
.slider .slick-prev:before {
    content: "";
    display: block;
    width:32px;
    height:32px;
    border-top:2px solid #1DBC78;
    border-left:2px solid #1DBC78;
    color:#333;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.slider .slick-next {
    right: -48px;
    z-index: 1;
}
.slider .slick-next:before {
    content: "";
    display: block;
    width:32px;
    height:32px;
    border-top:2px solid #1DBC78;
    border-left:2px solid #1DBC78;
    color:#333;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.slider .slick-dots {
    bottom: -48px;
}
.slick-dotted.slick-slider {
    margin-bottom: 48px !important;
}
.slider .slick-dots li button:before {
    font-size: 24px;
}




